
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        /* Header/Logo Title */
        .header {
            padding: 80px;
            text-align: start;
            color: #ffffff;
            font-size: 30px;
            font-family: Luminari, fantasy;
        }

    </style>
</head>
<body style="background-image: url('https://blog.visme.co/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-04.jpg');">
    <div class="header">
    <h1>Contact us!</h1>
        <p>send us a message to : bla@gmail.com</p>
    </div>
</body>
</html>
