@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        div.dice {
            float: left;
            width: 32px;
            background: #F5F5F5;
            border: dotted 1px solid;
            padding: 20px;
            font-size: 40px;
            text-align: center;
            margin: 5px;
            color: white;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUGzptxJxJM_iWBRT7nlPKW6FdttzDYRQAz2t-i_YfmIBN8zbF)
        }

        .game {
            position: absolute;
            top: 20%;
            left: 40%;
        }

        .roll {
            position: absolute;
            top: 50%;
            left: 43%;
            font-family: sans-serif;
            font-size: large;
        }

        .answer {
            clear: left;
            position: absolute;
            top: 55%;
            left: 41%;
            color: darkcyan;
            font-family: Avantgarde, TeX;
        }
    </style>
    <script>
        function rollDice() {
            var die1 = document.getElementById("dice1");
            var die2 = document.getElementById("dice2");
            var status = document.getElementById("status");

            var d1 = Math.floor(Math.random() * 6) + 1;
            var d2 = Math.floor(Math.random() * 6) + 1;

            var diceTotal = d1 + d2;

            die1.innerHTML = d1;
            die2.innerHTML = d2;
            status.innerHTML = "You rolled " + diceTotal + ".";
            if (d1 == d2) {
                status.innerHTML += " DOUBLES! you get a free turn!";
            }
        }
    </script>

    <title></title>
    <meta charset="utf-8" />
</head>
<body style="background-image: url();height:100%;
  background-repeat: no-repeat;
  background-size: cover;">
    <div class="game">
        <div id="dice1" class="dice">0</div>
        <div id="dice2" class="dice">0</div>
    </div>
    <button onclick="rollDice()" class="roll">Roll Dice</button>
    <h2 id="status" class="answer"></h2>
</body>
</html>