<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        /* Header/Logo Title */
        .header {
            padding: 80px;
            text-align: start;
            color: #ffffff;
            font-size: 30px;
            font-family: Luminari, fantasy;
            font-weight:100;
        }
    </style>
</head>
<body style="background-image: url('http://www.metaketosis.com/wp-content/uploads/2015/09/bg-login-1920.jpg');">
    <div class="header">
        <h1>Error</h1>
        <p>You have to login !</p>
    </div>
</body>
</html>
