
<!DOCTYPE html>

<html>
<head>
    <style>
        .btn {
            background-color: #9d479e;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            width: 50%;
            display: inline-block;
        }
        .sentence{
            font-family:fantasy;
        }
        .texts{
            color: black;
            font: bold;
        }
    </style>
    <title>facts</title>
    <link rel="stylesheet" type="text/css" href="~/Content/factsMenu.css">
</head>
<body>
    <div>

        <h4>Horizontal Flip</h4>
        <div class="flip">
            <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                <h1 class="texts">Parameters</hi>
            </div>
            <div class="back">
                <h3 class="sentence">Learn some interesting facts about parameters</h3>
                <p></p>
                <a class="btn" href="~/First/Read">Read more</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://dtqnv8in03d1n.cloudfront.net/wp-content/uploads/2016/09/best-programming-habits-to-have.jpg)">
                <h1 class="texts">Functions</hi>
            </div>
            <div class="back">
                <h3 class="sentence">Learn some interesting facts about functions, scopes and more</h3>
                <p</p>
                <a class="btn" href="~/First/ReadF">Read more</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://www.fintechnews.org/wp-content/uploads/2018/08/mundo-1.jpg)">
                <h1 class="texts">Languages</hi>
            </div>
            <div class="back">
                <h3 class="sentence">Read about more languages!</h3>
                <a class="btn" href="~/First/ReadF">Read more</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://www.biography.com/.image/t_share/MTQ1NDY3ODI2Mjg1NTg2MTkz/steve-jobs---mini-biography.jpg)">
                <h1 class="texts">People</hi>
            </div>
            <div class="back">
                <h3 class="sentence">Read about people that had an grand influence on computer science world.</h3>
                <a class="btn" href="~/First/ReadF">Read more</a>
            </div>
        </div>

        <br>
        <br>
    </div>
           
</body>
</html>
