
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/title.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css">
    <link rel="stylesheet" type="text/javascript" href="~/scripts/JavaScript.js">

    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="item">
            <h1>Soft Landing</h1>
            <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

            <div class="button">
                <a href="~/First/Create">
                    Enter
                    <span class="shift">›</span>
                </a>
                <div class="mask"></div>
            </div>
        </div>
    </div>
</body>
</html>
