@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="~/Content/home.css">
	<title>Soft Landing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		/* Style the body */
		body {
			font-family: Arial;
			margin: 0;
		}

		/* Header/Logo Title */
        .header {
            padding: 80px;
            text-align: center;
            color: #207068;
            font-size: 50px;
            font-family: Luminari, fantasy;
        }

		/* Page Content */
		.content {
			padding: 20px;
		}
	</style>
</head>
<body style="background-image: url(https://nmswp.azureedge.net/app/uploads/2018/12/Screenshot-177.jpg); width:100%; height:100%;">

    <div class="header">
        <h1>Soft Landing</h1>
        <link href='https://fonts.googleapis.com/css?family=Lato|Roboto:400,900' rel='stylesheet' type='text/css'>
        <div class="container">
            <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

            <div class="button">
                <a href="~/First/Menu">
                    &nbsp;Enter&nbsp;
                    <span class="shift">›</span>
                </a>
                <div class="mask"></div>
            </div>
        </div>
    </div>

    <script src="~/js/home.js"></script>

</body>
</html>
