@model WebApplication2.Models.Player

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Leader.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
</head>
<body>
    @{
        if (Model != null)
        {
            <div class="fullWindow">
                <h1 style="font-family:'Agency FB'; margin:auto;text-align: center;font-size:60px;">@Model.UserName - These are your scores!</h1>
              
                <table class="container">
                    <thead>
                        <tr>
                            <th><h1>Sites</h1></th>
                            <th><h1>Views</h1></th>
                            <th><h1>Clicks</h1></th>
                            <th><h1>Average</h1></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach(player p in Model)
                        <tr>
                            <td>Google</td>
                            <td>9518</td>
                            <td>6369</td>
                            <td>01:32:50</td>
                        </tr>
                            }
                    </tbody>
                </table>
            </div>
        }

        <script src="~/js/leader.js"></script>
    }
</body>
</html>