@model WebApplication2.Models.Player

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Leader board</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Leader.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            counter-reset: rowNumber;
        }

            table tr {
                counter-increment: rowNumber;
            }

                table tr td:first-child::before {
                    min-width: 1em;
                    margin-right: 0.5em;
                }
    </style>
</head>
<body>
    @{
        if (Model != null)
        {
            <div class="fullWindow">
                <h1 style="font-family:'Agency FB'; margin:auto;text-align: center;font-size:60px;">Leader Board</h1>
              
                <table class="container">
                    <thead>
                        <tr>
                            <th><h1>Name</h1></th>
                            <th><h1>SCORE</h1></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach (var p in Model.players)
                            {
                                <tr>
                                    <td>@p.FirstName</td>
                                    <td>@p.Score</td>
                                </tr>
                            }
                            }
                    </tbody>
                </table>
            </div>                
        <script src="~/js/leader.js"></script>
                                }
                            }
</body>
</html>