@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/multi.css">
    <link rel="stylesheet" type="text/css" href="~/Content/local.css">
    <title>Unlockables</title>
    <style>
        .two {
        }

        .button2 {
            top: 50%;
            padding: 0.2em 1.2em;
            border: 0.1em solid #FFFFFF;
            margin: 0 0.3em 0.3em 0;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            background-color: darkslategray;
            text-align: center;
            transition: all 0.2s;
            font-weight: bold;
            color: white;
            height: 39px;
        }

            .button2:hover {
                color: white;
                border-color: #DDDDDD;
            }

            .button2:active {
                color: #BBBBBB;
                border-color: #BBBBBB;
            }

        .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }

    </style>
</head>
<body>
    @{
        if (Model.Score >= 300)
        {
    <div>
        <a class="close" href="~/first/Play">></a>

        <div class="wrapper">
            <a class="button" href="~/Games/Tetris/index.html">Tetris</a>
        </div>

        <div class="wrapper">
            <a class="button" href="~/Games/Pong/pong.html">Pong</a>
        </div>

        <div class="wrapper">
            <a class="button" href="~/Games/Flappy Bird/index.html">Flappy Bird</a>
        </div>

        <div class="wrapper">
            <a class="button" href="~/Games/Space Invaders/index.html">Space Invaders</a>
        </div>

        <div class="wrapper">
            <a class="button" href="~/Games/PacMan/index.html">PacMan</a>
        </div>

        <!-- Filter: https://css-tricks.com/gooey-effect/ -->
        <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                    <feComposite in="SourceGraphic" in2="goo" operator="atop" />
                </filter>
            </defs>
        </svg>

        <!-- Filter: https://css-tricks.com/gooey-effect/ -->
        <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                    <feComposite in="SourceGraphic" in2="goo" operator="atop" />
                </filter>
            </defs>
        </svg>
    </div>
        }
        else
        {
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Error!</h2>
                    <a class="close" href="~/First/Menu">×</a>
                    <div class="content-1">
                        sorry. you can not enter this section until you are an expert.
                        play more to gain more point!
                    </div>
                    <div class="two">
                        <a class="button2" type="submit" href="~/First/Play">
                            return
                        </a>
                        <a class="button2" type="submit" href="~/First/Settings">
                            check my stats
                        </a>
                    </div>
                </div>
            </div>
        }
    }

</body>
</html>
