@model WebApplication2.Models.Player

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/code.css">
    <meta charset="utf-8" />

    <style>
        .buttonsMenu {
            width: auto;
            display: inline-block;
        }

        .container1 {
            margin: 0 auto;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: initial;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: initial;
        }

        .item1 {
            /* Padding is used for smaller screens */
            padding: 0 30px 0 30px;
            text-align: center;
        }
    </style>


</head>
<body style="background-image: url(https://images.unsplash.com/photo-1516721951823-4f214c97eb4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; width:100%; height:100%;">
    <div class="container1">
        <div class="item1">
            <div class="buttonsMenu">
                <a class="frame-btn" href="~/First/Play">
                    <span class="frame-btn__outline frame-btn__outline--tall">
                        <span class="frame-btn__line frame-btn__line--tall"></span>
                        <span class="frame-btn__line frame-btn__line--flat"></span>
                    </span>
                    <span class="frame-btn__outline frame-btn__outline--flat">
                        <span class="frame-btn__line frame-btn__line--tall"></span>
                        <span class="frame-btn__line frame-btn__line--flat"></span>
                    </span>
                    <span class="frame-btn__solid"></span>
                    <span class="frame-btn__text">Play</span>
                </a>
                &nbsp;
                &nbsp;
                <a class="frame-btn" href="~/First/startQuiz">
                    <span class="frame-btn__outline frame-btn__outline--tall">
                        <span class="frame-btn__line frame-btn__line--tall"></span>
                        <span class="frame-btn__line frame-btn__line--flat"></span>
                    </span>
                    <span class="frame-btn__outline frame-btn__outline--flat">
                        <span class="frame-btn__line frame-btn__line--tall"></span>
                        <span class="frame-btn__line frame-btn__line--flat"></span>
                    </span>
                    <span class="frame-btn__solid"></span>
                    <span class="frame-btn__text">Quizes</span>
                </a>
                &nbsp;
                &nbsp;
                <a class="frame-btn" href="~/First/facts">
                    <span class="frame-btn__outline frame-btn__outline--tall">
                        <span class="frame-btn__line frame-btn__line--tall"></span>
                        <span class="frame-btn__line frame-btn__line--flat"></span>
                    </span>
                    <span class="frame-btn__outline frame-btn__outline--flat">
                        <span class="frame-btn__line frame-btn__line--tall"></span>
                        <span class="frame-btn__line frame-btn__line--flat"></span>
                    </span>
                    <span class="frame-btn__solid"></span>
                    <span class="frame-btn__text">Did you know?</span>
                </a>
                &nbsp;
                &nbsp;
                <a class="frame-btn" href="~/First/Leaderboard">
                    <span class="frame-btn__outline frame-btn__outline--tall">
                        <span class="frame-btn__line frame-btn__line--tall"></span>
                        <span class="frame-btn__line frame-btn__line--flat"></span>
                    </span>
                    <span class="frame-btn__outline frame-btn__outline--flat">
                        <span class="frame-btn__line frame-btn__line--tall"></span>
                        <span class="frame-btn__line frame-btn__line--flat"></span>
                    </span>
                    <span class="frame-btn__solid"></span>
                    <span class="frame-btn__text">Leader Board</span>
                </a>
                &nbsp;
                &nbsp;
                <a class="frame-btn" href="~/First/Settings">
                    <span class="frame-btn__outline frame-btn__outline--tall">
                        <span class="frame-btn__line frame-btn__line--tall"></span>
                        <span class="frame-btn__line frame-btn__line--flat"></span>
                    </span>
                    <span class="frame-btn__outline frame-btn__outline--flat">
                        <span class="frame-btn__line frame-btn__line--tall"></span>
                        <span class="frame-btn__line frame-btn__line--flat"></span>
                    </span>
                    <span class="frame-btn__solid"></span>
                    <span class="frame-btn__text">Settings</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>

