@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parameters</title>
    <script src="~/scripts/jquery-3.0.0.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/parameters.css">
</head>
<body>
    

    <script>
        
    </script>
</body>
</html>
