@{
	Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/PlayOptions.css">
    <style>
        .close {
            position: absolute;
            top: -95px;
            right: -580px;
            transition: all 200ms;
            font-size:65px;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body style="background-image: url(https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif); height:50%;">
    <a class="close" href="~/first/Menu">></a>

    <div class="btn">
        <a class="frame-btn" href="~/First/singleGames">
            <span>Single Player</span>
            <div class="dot"></div>
        </a>
    </div>
    <div class="btn">
        <a class="frame-btn" href="~/First/MultiGames">
            <span>Multi player</span>
            <div class="dot"></div>
        </a>
    </div>
    <div class="btn">
        <a class="frame-btn" href="~/First/localGames">
            <span>Unlockables</span>
            <div class="dot"></div>
        </a>
    </div>

</body>
</html>