<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/PlayOptions.css">
    
</head>
<body>
    <div class="container">
        <div class="btn">
            <span>Single Player</span>
            <div class="dot"></div>
        </div>
        <div class="btn">
            <span>Multiplayer</span>
            <div class="dot"></div>
        </div>
        <div class="btn">
            <span>Local Game</span>
            <div class="dot"></div>
        </div>
        <div class="btn">
            <span>Survival</span>
            <div class="dot"></div>
        </div>
    </div>
</body>
</html>