@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>quiz</title>
    <link rel="stylesheet" href="~/Quizes/style.css" type="text/css" />
    <meta charset="utf-8" />
</head>
<body style="background-image: url(https://www.endsight.net/hubfs/Blog/5-accounting-process-red-flags-caused-by-business-growth.jpg);height:100%;background-position: center">
    <div class="grid">
        <div id="quiz">
            <h1>Quiz</h1>
            <hr style="margin-bottom: 20px" />

            <p id="question" style="font-family:Jazz LET, fantasy"></p>
            <div class="buttons">
                <button id="btn0"><span id="choice0"></span></button>
                <button id="btn1"><span id="choice1"></span></button>
                <button id="btn2"><span id="choice2"></span></button>
                <button id="btn3"><span id="choice3"></span></button>
            </div>
            <hr style="margin-top: 50px" />
            <footer>
                <p id="progress" style="font-family:Trattatello, fantasy">Question x of y</p>
            </footer>
        </div>
    </div>

    <script src="~/Quizes/quiz_controller.js"></script>
    <script src="~/Quizes/question.js"></script>
    <script src="~/Quizes/app.js"></script>

</body>
</html>

