@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Snakes and Ladders</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/SnakeLadder.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <style>
        .all{
            display:flex;
            position:initial;
        }
    </style>
</head>
<body>

     <div class="all">
        <div id="snakenladderBoard"></div>
        <div id="statistics">
            <div id="gameMessage"></div>
            <div id="dice">0</div>
            <button class="roll">Roll</button>
            <div id="players"></div>
            <div id="middle" class="overlay">
                <div class="popup">
                    <h1>If you want to go up on the ladder you need to play a game , are you ready?</h1>
                    <a class="close" href="~/First/MultiGames">X</a>
                    <a id ="game" href="" onclick="changeLink()">
                        Let's go!
                    </a>
                    <a id="pass">
                        i pass
                    </a>

                </div>
            </div>

            <div id="popup1" class="overlay">
                <div class="popup">
                    <h1>Congratulations 🎉</h1>
                    <a class="close" href="~/First/MultiGames">X</a>
                    <h2 class="content-1" id="playerLegend">  🎉🎉</h2>
                    <button class="button" type="submit" onclick="next()">
                        Return
                    </button>

                </div>
            </div>
        </div>
    </div>

    <script src="~/js/SnakeLadder.js"></script>

</body>
</html>
