@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Snakes and Ladders</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/SnakeLadder.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <style>
        .all{
            display:flex;
            position:initial;
        }
        h1{
            text-align:center;
            color:dimgrey;
        }
        .middle_buttons{
            display:flow-root;
        }
        game {
            position: fixed;
            top: 50%;
            left: 43%;
            display: inline-block;
            padding: 1.2em 4.2em;
            border: 0.1em solid #FFFFFF;
            margin: 0 0.3em 0.3em 0;
            border-radius: 0.12em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            background-color: #bddfa1;
            text-align: center;
            transition: all 0.2s;
            font-weight: bold;
            color: white;
        }

            game:hover {
                color: white;
                border-color: #DDDDDD;
            }

            game:active {
                color: #BBBBBB;
                border-color: #BBBBBB;
            }
    </style>
</head>
<body>

     <div class="all">
        <div id="snakenladderBoard"></div>
        <div id="statistics">
            <div id="gameMessage"></div>
            <div id="dice">0</div>
            <button class="roll">Roll</button>
            <div id="players"></div>
            <div id="middle" class="overlay">
                <div class="popup">
                    <h1>If you want to go up on the ladder you need to answer a question, 
                    are you ready?</h1>
                    <a class="close" href="~/First/MultiGames">X</a>
                    <div class="middle_buttons">
                        <h2 id="game" href="#">
                            Let's go!
                        </h2>
                        <p id="question" style="font-family: cursive; font-size: larger;"></p>
                        <div class="buttons">
                            <input id="answer" type="text" name="question1">
                            <input id="check" type="button" value="check">
                        </div>
                    </div>
                </div>
            </div>

            <div id="popup1" class="overlay">
                <div class="popup">
                    <h1>Congratulations 🎉</h1>
                    <a class="close" href="~/First/MultiGames">X</a>
                    <h2 class="content-1" id="playerLegend">  🎉🎉</h2>
                    <button class="button" type="submit" onclick="next()">
                        Return
                    </button>

                </div>
            </div>
        </div>
    </div>

    <script src="~/js/SnakeLadder.js"></script>

</body>
</html>
