@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/home.css">
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        /* Header/Logo Title */
        .header {
            padding: 80px;
            text-align: start;
            color: #ffffff;
            font-size: 30px;
            font-family: Luminari, fantasy;
            left: 50%;
        }
    </style>
</head>
<body style="background-image: url();">
    <div class="button">
        <a href="~/Quizes/index.html" style="font-size:-webkit-xxx-large;">
            &nbsp;Let's start the quiz!&nbsp;
            <span class="shift">›</span>
        </a>
        <div class="mask"></div>
    </div>

</body>
</html>
