  body {
  background-image: url(../memphis-mini-dark/mini.png)/* url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png) */
}

.position001 {
            position: relative;
        }

        .block001 {
            position: absolute;
            top: 145px;
            left: 230px;
        }

        .block002 {
            position: absolute;
            top: 130px;
            left: 90px;
        }

        .block003 {
            position: absolute;
            top: 240px;
            left: 70px;
        }

        .button001 {
            background-color: transparent;
            border: 1px solid transparent;
            width: 121px;
            height: 30px;
        }

        .hide001 {
            background-color: white;
            border: 1px solid white;
        }

        #mark001 {
            
            position:absolute;
            top: 137px;
            left: 221px;
            width: 125px;
            height: 35px;
            border:dotted;
            border-color:red;
        }

        #text1 {
            position:absolute;
            top: 120px;
            left: 410px;
            color:red;
            font-size:25px;
        }

        .blue001 {
            background-color: blue;
            border: none;
            color: white;
            padding: 12px 17px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            margin: 2px 2px;
            border-radius: 9px;
            cursor: pointer;
            width: 200px;
        }

        #title {
            font-family:'Franklin Gothic Book';
        }

        * {
	outline: none;
}