html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family: Georgia, serif;
    font-size: 16px;
}

 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110%;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
}

textarea {
	background: green;
	position: absolute;
	top: 20%;
	left: 72%;
	margin:0;
	color: white;
	font-family: 'Gloria Hallelujah',cursive;
	font-size: 20px;
	padding: 10px;
	height: 67vh;
	border: 3px dashed white;
}