*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
    font-size: 1.2rem;
    font-family: Luminari, fantasy;
    color: #444;
    background-color: #fff;
    margin: 0;
    padding: 4rem;
    text-align: center;
}
.arrow-btn {
	position: relative;
	display: inline-block;
	border-radius: 0;
	color: #561972;
	margin-top: 2rem;
	font-weight: bold;
	font-size: 5px;
	letter-spacing: 2px;
	text-decoration: none;
	transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
	padding-right: 2.5em;
}
.arrow-btn:hover {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.arrow-btn:hover:after {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(15px);
  opacity: 0;
}
.arrow-btn:hover:before {
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(0);
  opacity: 1;
}
.arrow-btn:before, .arrow-btn:after {
  content: '\27F6';
  position: absolute;
  right: 0;
  top: -25%;
}
.arrow-btn:before {
  transform: translateX(-15px);
  opacity: 0;
}
.arrow-btn:after {
  transform: none;
}
.frame-btn {
  margin-top: 50px;
  line-height: 100px;
  width:300px;
  display: inline-block;
  padding: 25px 30px;
  font-size: 20px;
  letter-spacing: 3px;
  text-decoration: none;
  position: relative;
}
.frame-btn__text {
    color: #cc6a6a;
    font-weight: bold;
    text-transform: uppercase;
    transition: 300ms ease;
    position: relative;
    font-family: Luminari, fantasy;
}
.frame-btn:hover .frame-btn__text {
  color: white;
}
.frame-btn__solid {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	background-color: #a17fb1;
	width: calc(100% - (5px * 4));
	height: calc(100% - (5px * 4));
	transform-origin: 50%;
	transform: scale(0.85);
	opacity: 0;
	transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.frame-btn:hover .frame-btn__solid {
  opacity: 1;
  transform: scale(1);
}
.frame-btn__outline {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-btn__outline--tall {
  margin: 0 5px;
  width: calc(100% - (5px * 2));
  height: 100%;
}
.frame-btn__outline--flat {
  margin: 5px 0;
  height: calc(100% - (5px * 2));
  width: 100%;
}
.frame-btn__line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.frame-btn__line--tall:before, .frame-btn__line--tall:after {
  height: 100%;
  width: 1px;
  top: 0;
}
.frame-btn:hover .frame-btn__outline--flat .frame-btn__line--tall:before, .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--tall:after {
  transform: scaleY(0);
}
.frame-btn:hover .frame-btn__outline--tall .frame-btn__line--tall:before, .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--tall:after {
  margin: 5px 0;
  height: calc(100% - (5px * 2));
}
.frame-btn__line--tall:before {
  left: 0;
}
.frame-btn__line--tall:after {
  right: 0;
}
.frame-btn__line--flat:before, .frame-btn__line--flat:after {
  width: 100%;
  height: 1px;
  left: 0;
}
.frame-btn:hover .frame-btn__outline--tall .frame-btn__line--flat:before, .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--flat:after {
  transform: scaleX(0);
}
.frame-btn:hover .frame-btn__outline--flat .frame-btn__line--flat:before, .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--flat:after {
  margin: 0 5px;
  width: calc(100% - (5px * 2));
}
.frame-btn__line--flat:before {
  top: 0;
}
.frame-btn__line--flat:after {
  bottom: 0;
}
.frame-btn__line:before, .frame-btn__line:after {
	content: '';
	display: block;
	position: absolute;
	background-color: #c6a3a3;
	transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.frame-btn:hover .frame-btn__line:before, .frame-btn:hover .frame-btn__line:after {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}



.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 120px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url(http://www.sadracomputer.com/wp-content/uploads/2018/02/bg-pattern-black.png);
}

    .popup h2 {
        margin-top: 0;
        color: white;
        font-family: Tahoma, Arial, sans-serif;
        font-size:58px;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }

        .popup .close:hover {
            color: #E5F720;
        }

    .popup .content-1,
    .content-2 {
        max-height: 30%;
        overflow: auto;
        text-align: center;
        font-size: 52px;
        color:lightgrey;
    }

.show {
    visibility: visible !important;
    opacity: 100 !important;
}

#starRating li {
    display: inline-block;
}

#play-again {
    background-color: #141214;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    font-family: 'Gloria Hallelujah', cursive;
    color: #ffffff;
    border-radius: 5px;
}

/* animations */
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}


/****** Media queries
***************************/


@media (max-width: 320px) {
    .deck {
        width: 85%;
    }

        .deck .card {
            height: 4.7rem;
            width: 4.7rem;
        }
}


/* For Tablets and larger screens
****************/

@media (min-width: 768px) {
    .container {
        font-size: 22px;
    }

    .deck {
        width: 660px;
        height: 680px;
    }

        .deck .card {
            height: 125px;
            width: 125px;
        }

    .popup {
        width: 50%;
    }
}


