@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:before, :after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 50px 0;
    font: 14px/1 'Open Sans', sans-serif;
    color: #777;
    background: #ddd;
}

p {
    line-height: 1.8;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.title {
    height: 60px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 60px;
}

.chart {
    height: 300px;
    padding: 20px;
    background: linear-gradient(to bottom, #345 0%, #234 100%);
}

.footer {
    padding: 30px;
}
