body {
    background: url(https://s-media-cache-ak0.pinimg.com/originals/03/c3/ab/03c3ab693eedcd84c1119a947974cb93.jpg) no-repeat;
    float: left;
    height: 50px;
}

#statistics {
    float: left;
    width: 350px;
    padding: 0 10px;
}

.row {
    clear: both;
}

    .row div,
    .player {
        width: 94px;
        height: 94px;
        float: left;
        margin: 1px;
    }

        .row div:after,
        .player:after,
        #snakenladderBoard:after,
        #statistics:after {
            content: "";
            display: table;
            clear: both;
        }

    .row div,
    #players {
        position: relative;
        font-family: cursive;
    }

.player {
    font-family: Avantgarde, TeX;
    font-size:13px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    position: initial;
    top: 20px;
    left: 20px;
    border: 1px solid #f0f0f0;
    box-shadow: -1px -1px 16px 1px #666, 1px 1px 16px 1px #bbb;
    -webkit-transition: left 3s, top 3s;
    /* For Safari 3.1 to 6.0 */
    transition: left 3s, top 3s;
}

.legends {
    border: 1px solid #666;
    padding: 10px;
    margin: 5px 0;
}

    .legends.active {
        border-width: 3px;
    }

    .legends span {
        float: right;
    }

#dice {
    font-size: -webkit-xxx-large;
    text-align:center;
    color: black;
    font-family: cursive;
    width: 80px;
    height: 80px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-color: gray;
}

#gameMessage {
    height: 30px;
    font-size: 21px;
    font-family: cursive;
}

#copyright {
    clear: both;
    background: black;
    padding: 20px;
    color: white;
    font-size: 85%;
}
.roll {
    top: 12%;
    font-family: sans-serif;
    font-size: large;
}


/*
 * Styles for congratulations modal
 */


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: 'Gloria Hallelujah', cursive;
}

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #E5F720;
        }

    .popup .content-1,
    .content-2 {
        max-height: 30%;
        overflow: auto;
        text-align: center;
    }

.show {
    visibility: visible !important;
    opacity: 100 !important;
}

#starRating li {
    display: inline-block;
}

#play-again {
    background-color: #141214;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    font-family: 'Gloria Hallelujah', cursive;
    color: #ffffff;
    border-radius: 5px;
}

/* animations */
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}


/****** Media queries
***************************/


@media (max-width: 320px) {
    .deck {
        width: 85%;
    }

        .deck .card {
            height: 4.7rem;
            width: 4.7rem;
        }
}


/* For Tablets and larger screens
****************/

@media (min-width: 768px) {
    .container {
        font-size: 22px;
    }

    .deck {
        width: 660px;
        height: 680px;
    }

        .deck .card {
            height: 125px;
            width: 125px;
        }

    .popup {
        width: 60%;
    }
}
