@import url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg);

html {
    font-size: 200%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 1.6;
}

.img-responsive {
    max-width: 100%;
    height: inherit;
    display: block;
}

h1 {
    text-align: center;
    font-family: "Oswald", sans;
    font-size: 4rem;
    font-weight: normal;
    line-height: 3.5rem;
}

h3 {
    font-size: 1.35rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: initial;
    background: url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    /* Padding is used for smaller screens */
    padding: 0 30px 0 30px;
    text-align: center;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 1rem;
    display: inline-block;
    line-height: 1.25rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

    .btn.btn-primary {
        color: #fff;
        background-color: #000;
        border-color: #666;
    }

        .btn.btn-primary:hover {
            color: #fff;
            background-color: #333;
            border-color: #666;
        }

@media (min-width: 992px) {
    .item {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .item {
        width: 60%;
    }
}
