  body {
  background-image: url(../memphis-mini-dark/leaves-pattern.png)/* url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png) */
}

#textbox1 {

    position: absolute;
    top: 120px;
    left:20px;
    height: 25px;
    width: 125px;
	margin-bottom: 20px;
	display: block;
    font-size:large;
}

#textbox2 {

    position: absolute;
    top: 495px;
    left: 8px;
    height: 15px;
    width: 20px;
	margin-bottom: 20px;
	display: block;
    font-size:large;
}

#textbox3 {

    position: absolute;
    top:540px;
    left:5px;
    height: 15px;
    width: 40px;
	margin-bottom: 20px;
	display: block;
    font-size:large;
}

#x1 {

    position: absolute;
    top: 120px;
    left: 580px;
    height: 30px;
    width: 50px;
	margin-bottom: 20px;
	display: block;
    font-size:large;

}

#x2 {

    position: absolute;
    top: 495px;
    left: 580px;
    height: 30px;
    width: 50px;
	margin-bottom: 20px;
	display: block;
    font-size:large;

}

#x3 {

    position: absolute;
    top: 540px;
    left: 580px;
    height: 30px;
    width: 50px;
	margin-bottom: 20px;
	display: block;
    font-size:large;

}

button {
    height: 20px;
    width: 120px;
    margin-left:10px;
    font-size:medium;
    border-color:blue;
}

button2 {
    height: 20px;
    width: 120px;
    margin-left:10px;
    font-size:medium;
    border-color:blue;
}