  body {
  background-image: url(../memphis-mini-dark/mini.png)/* url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png) */
}

.position001 {
            position: relative;
        }

        .block001 {
            position: absolute;
            top: 40px;
            left: 290px;
        }

        .button001 {
            background-color: transparent;
            border: 1px solid transparent;
            width: 65px;
            height: 30px;
        }

        .hide001 {
            background-color: white;
            border: 1px solid white;
        }

         #mark001 {
            
            position:absolute;
            top: 38px;
            left: 290px;
            width: 55px;
            height: 25px;
            border:dotted;
            border-color:red;
        }

        #text1 {
            position:absolute;
            top: 10px;
            left: 400px;
            color:red;
            font-size:25px;
        }

        .blue001 {
            background-color: blue;
            border: none;
            color: white;
            padding: 12px 17px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            margin: 2px 2px;
            border-radius: 9px;
            cursor: pointer;
            width: 200px;
        }

           #title {
            font-family:'Franklin Gothic Book';
        }

           * {
	outline: none;
}