  body {
  background-image: url(../memphis-mini-dark/mini.png)/* url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png) */
}

.position001 {
            position: relative;
        }

        .block001 {
            position: absolute;
            top: 80px;
            left: 12px;
        }

         .block002 {
            position: absolute;
            top: 337px;
            left: 125px;
        }

        .button001 {
            background-color: transparent;
            border: 1px solid transparent;
            width: 180px;
            height: 30px;
        }

        .button002 {
            background-color: transparent;
            border: 1px solid transparent;
            width: 155px;
            height: 32px;
        }

        .hide001 {
            background-color: white;
            border: 1px solid white;
        }

         #mark001 {
            position:absolute;
            top: 80px;
            left: 1px;
            width: 155px;
            height: 25px;
            border:dotted;
            border-color:red;
        }

        #text1 {
            position:absolute;
            top: 55px;
            left: 200px;
            color:red;
            font-size:25px;
        }

        #mark002 {

           position:absolute;
            top: 336px;
            left: 120px;
            width: 145px;
            height: 30px;
            border:dotted;
            border-color:red;
        }

        #text2 {
             position:absolute;
            top: 310px;
            left: 360px;
            color:red;
            font-size:25px;

        }

        .blue001 {
            background-color: blue;
            border: none;
            color: white;
            padding: 12px 17px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            margin: 2px 2px;
            border-radius: 9px;
            cursor: pointer;
            width: 200px;
        }

           #title {
            font-family:'Franklin Gothic Book';
        }

           * {
	outline: none;
}