body {
    background-image: url();
}

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #a0ce6c;
    box-shadow: 10px 15px 5px #cbcbcb;
}

    .grid h1 {
        font-family: Chalkduster, fantasy;
        background-color: #bddfa1;
        font-size: 60px;
        text-align: center;
        color: #fff;
        padding: 2px 0px;
        border-radius: 50px;
    }

    .grid #question {
        font-family: sans-serif;
        font-size: 30px;
        color: #a0ce6c;
    }

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #778897;
    font-family: Blippo, fantasy;
    width: 250px;
    font-size: 30px;
    color: #0f1409;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyd29TWkzc8lfDs2qZqIEyBKLseyWbUGKTpDM39im1EkITEjoM);
}

#score {
    color : #5A6772;
    text-align: center;
    font-size: 30px;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #57636e;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
   outline: 0;
}
